.center{
    text-align: center;
}
h1{
    color: blue;
    font-family: 'consolas','Courier New', Courier, monospace;
}
h4{
    color: blue;
}
h3{
    color: blue;
    font-family: 'consolas','Courier New', Courier, monospace;
}

.inline{
    color: blue;
}

.good{
    padding: 10px 10px 10px 10px;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 20px;
    perspective: 800px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: red;
    /* transition-property: background-color;
    transition-property: all; */
    /* transition-duration: 3s; */
    /* cursor: pointer;
    transform: rotate(45deg);
    transform: rotate3d(1,1,0,45deg);
    transform: skew(20deg,10deg); */
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}

