body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 70%;
    padding: 6px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
}

li {
    margin-top: 10px;
    background: #334155;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}
