/* grid is 2 dimensional layout */

.parent{
    margin-top: 50px;
    border: 2px solid black;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px ;
}

.child{
    border: 2px solid rgb(58, 46, 46);
}
#child1{
    background-color: chocolate;
}

#child2{
    background-color: green;
}

#child3{
    background-color: red;
}

#child4{
    background-color: purple;
}

#child5{
    background-color: blue;
}

#child6{
    background-color: yellow;
}