/* grid is 2 dimensional layout */

.parent{
    margin-top: 50px;
    border: 10px solid grey;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,150px);
    gap: 10px;
}

.child{
    border: 2px solid black;
}
#child1{
    background-color: chocolate;
}

#child2{
    background-color: green;
}

#child3{
    background-color: red;
}

#child4{
    background-color: purple;
}

#child5{
    background-color: blue;
}

#child6{
    background-color: yellow;
}