body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: 0.4s;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

/* Light Mode */
.light {
    background-color: white;
    color: black;
}

/* Dark Mode */
.dark {
    background-color: #121212;
    color: white;
}
