body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

p {
    margin-top: 15px;
    font-weight: bold;
}
